body{
    margin: 0px;
    padding: 0px;
    background-image: url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt881609ccc5207499/60b1901d3aac347374b5d9d1/VALORANT_YR1_ArticleHero_16_9.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
    
    

}